.jumbotron {

    background-repeat: no-repeat; 
   background-size: cover; 

      color: #fff;
      font-family: Montserrat, sans-serif;
  }

  .navbar {
      margin-bottom: 0;
     
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;

}

h2 {
  letter-spacing: 5px; 
  margin-top: 5px; 
}

.navbar-toggle {
  float: none; 
}

/************CAROUSEL****************/

/*.carousel-text {
  position: absolute;
  bottom: 40%; 
  right: 50%; 
  z-index: 20; 

}*/

.carousel-head {
 
}

.carousel-p {
 
}

.carousel-btn {
  /*padding: 20px;*/
    background-color: #ff5733; 
     color: #fff; 
     font-weight: bolder;
      border: none;
  /*background-color: transparent;*/
  /*
 
  margin-top: 20px; 
  margin-left: 30px; 
  font-size: 15px; 
  */ 
  opacity: .6; 
}

.carousel-inner img {
  width: 3000px; 
}

.carousel-btn1 {
  background-color: transparent;
  border: 2px solid #fff;
  opacity: 1;  
}

/************ABOUT SECTION***********/

 
#about h2 {
  margin-top: 55px; 
}

.bio-img {
  
 width: auto; 
}
