



.jumbotron {

    background-repeat: no-repeat; 
   background-size: contain; 

      color: #fff;
      font-family: Montserrat, sans-serif;
  }

  .navbar {
      margin-bottom: 0;
      background-color: #000;
      opacity: .9; 
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;

}
.navbar-brand {
  font-size: 15px!important; 
}

/*.logo-pic {
  height: 20px; 
  width: 20px; 
}*/

h2 {
  letter-spacing: 5px; 
  margin-top: 5px; 
}

.navbar-toggle {
  float: none; 
  background-color: transparent;
  border: none; 
}

iframe {
  width:100%; 
  height:350px; 
}


/************CAROUSEL****************/

.carousel-text {
  position: absolute;
  bottom: 5px;  
  z-index: 20; 

right: 10%; 
}

.carousel-head {
 font-size: 22px; 
}

.carousel-p {
 color: #fff!important;
}

.carousel-btn {
  /*padding: 20px;*/
    background-color: #ff5733; 
     color: #fff; 
     font-weight: bolder;
      border: none;
  /*background-color: transparent;*/
  /*
 
  margin-top: 20px; 
  margin-left: 30px; 
  font-size: 15px; 
  */ 
  opacity: .6; 
}

.carousel-inner img {
  width: 3000px; 
}

.carousel-btn1 {
  background-color: transparent;
  border: 2px solid #fff;
  opacity: 1;  
}

.glyphicon-chevron-left:before {
  display: none; 
}

.glyphicon-chevron-right:before {
  display: none; 
}

.carousel-indicators li {
  display: none; 
}

/************ABOUT SECTION***********/

 
#about h2 {
  margin-top: 25px; 
  font-family: 'Work Sans', sans-serif;
}

.about-row{
  margin-left:5px;  
  margin-right:5px;
}

.bio-p {
  text-align: justify;
  margin-top: 20px; 
  color: grey;


}

.bio-img {
  height: 250px; 
  width: fit-content;
}

.hr_2 {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px #ff5733;
    margin-left: 130px;
    margin-right: 130px; 
}
.hr_2:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

.hr-head {
    margin-right: 100px; 
    margin-left: 100px; 
    margin-bottom: 15px; 
    margin-top: 15px; 
  }

  .p-1 {
    /*font-size: 15px; */
    margin-bottom: 20px;
    text-align: justify; 
  }

  .art-logo {
    margin-bottom: 10px; 
    margin-right: 85px; 
    margin-left: 85px; 
  }

 .art{
margin-top: 10px; 
margin-bottom: 40px;
}

.logo-holder {
  position: relative;
/*  width: 992px; 
  height: 125px; */
}

.logo-holder img, .logo-holder.text {
  transition: opacity 0.5s ease-in-out; 
} 

.logo-holder .text {
  position:absolute; top: 0; left: 30%; opacity: 0; 
}

.logo-holder:hover img {opacity: 0;}
.logo-holder:hover .text {
  opacity: 1; 
}

.art-name{
  width: 120px; 
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden; 
  white-space: nowrap; 
  margin-bottom: 12px; 
}

.art-name:hover {
  overflow: visible;
  white-space: normal;
  height: auto; 
}

.art-name a {
  text-decoration: none;
 color: #000; 
}

.art-name a:hover {
  letter-spacing: 1px; 
}


/************SERVICES SECTION***********/


#services {
  /*height: 800px; 
*/ /* background-image: url("IMG_2095.JPG"); */
/*background: linear-gradient( rgba(105, 105, 105, 0.8), rgba(105, 105, 105, 0.8) ), url("IMG_2095.JPG");*/
/*background-size: contain; 
background-repeat: no-repeat;*/
/*  -webkit-filter: grayscale(65%);  Safari 6.0 - 9.0 
    filter: grayscale(65%);*/
}




.sub-p {
  
  color: #b8b8b8; 
 
}

.services-row-1 {
  background-color: #fff; 
}

.ser-head-1 {
  font-family: 'Work Sans', sans-serif;
/*  padding: 60px 10px 60px 10px; */
 /* margin-top: 100px;*/
  font-size: 20px; 
  color: #000;  
}

.imgServices {
  margin-bottom: 25px; 
}

.glyphicon {

  margin-top: 30px; 
}

.glyphicon-off{
  margin-top: 40px; 
}


.service_icons {
/*       color: #33FFFF; */
color: #ff5733;
    /*  color:#ff5733;*/
      font-size: 50px;
  }

.sub-service {
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.biosectionpic {
  /*margin-right: 40px; 
  margin-left: 40px; 
}*/}

.mar-about {
  margin-right: 40px; 
  margin-left: 40px; 
}

.mar-about-1 {
    margin-right: 40px; 
  margin-left: 40px; 
}

.btn-ser {
  
  background-color: #ff5733;
  margin-top : 15px;
  margin-bottom: 15px; 

  opacity: .8; 
  color: #fff; 
}

a:hover {
  text-decoration: none; 
}

.btn-ser  {
  text-decoration:none!important;
}

.button-div {
  margin-right: 100px; 
  margin-left: 100px; 
} 

 .btn-ser-row a {
  text-decoration: none!important; 
}

.cen-text {
  font-size: 30px!important;
}

/*********SERVICES 2************/

.tser:before { background: rgba(105, 105, 105, 0.8)!important; }

.tser:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(105,105,105, 0.8);
  transition: all .3s linear;
}

.ser-div {
  padding: 0!important; 
}

.service2 a {
  color: #ff5733;
}

.centered-ser {
  font-size: 30px!important; 
    position: absolute;
    top: 60%!important;
    left: 50%;
    font-weight: initial;
 color: #fff!important;}

 .sec-2-h4 {
  font-size: 16px; 
  font-weight: lighter;

 }

.w-t {
  margin-top: 70px; 
}

.ser-equal-1 {
  background: linear-gradient( rgba(105, 105, 105, 0.8), rgba(105, 105, 105, 0.8) ), url("adult-analysis-brainstorming-1081225.jpg"); 
  background-size: cover;
  background-repeat: no-repeat; 
  height: 200px; 
  margin-bottom: 10px; 
}

.ser-equal-2 {

  background: linear-gradient( rgba(105, 105, 105, 0.8), rgba(105, 105, 105, 0.8) ), url("bio.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
 height: 300px; 
 margin-bottom: 10px; 
}

.how-to-box .icon {
    float: left;
    
}

.how-to-box .content {
    overflow: hidden;
    padding-left: 24px;
}


.how-to-box .icon span {
    background: #fff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ff5733;
    display: block;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 50px;
}
/***********COACHING*******************/

.ser-div h3 {
  margin-top: 65px; 
}
/***********PUBLICATIONS*******************/

.pub-title {
  letter-spacing: 5px; 
}

.hr-pub {
  border-right: 1px solid #000!important; 
  margin-right:0!important;
  margin-left: 0!important; 
  background-image: none;
    height: initial;
    background: initial;
}

.pub-p {
  text-align:justify;
}

.pub-p a {
  color: #000; 
}

/*********INDUSTRY**********/

.indi-sec p {
  color: #b8b8b8; 
  text-align: center!important;  
}

.indi-sec1 {
/* background: linear-gradient( rgba(105, 105, 105, 0.8), rgba(105, 105, 105, 0.8) ), url("rawpixel-658240-unsplash.jpg");
background-size: cover; 
background-repeat: no-repeat;*/
}

.indi {
  background-color: #fff; 
}

.photo-row {
  margin-right: 30px; 
  margin-left: 30px; 
}

.fas {
  margin-top: 40px; 
  font-size: 30px;
  margin-bottom: 20px; 
  color: #ff5733;   
}

.indi-sec1 h2 {
  font-family: 'Work Sans', sans-serif;
/*  margin-top: 70px; */
/*  margin-bottom: 40px; */
  color: #000; 
  font-size: 20px; 

}

.tint_1 {
  float: left; 
}

.t6:before { background: rgba(105,105,105, 0.8)!important; }


.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: all .3s linear;
}

.centered_indi {
  font-size: 20px!important; 
}

.div_indi {
 /* margin-bottom: 10px; */
}


.industry-row {
 /* height: 190px; */
}

.hr_2 {
  margin-bottom: 30px;
/*  display: none;*/
}

.hr_22 {
  display: none; 
}

.hr-indus {
 /* display: none;*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; 
    color: #fff; 
}


.tint {
  display: none; 
}

.wrap {
  display: none; 
 /* overflow: hidden;
width: auto 
  margin: 5px auto;*/
}

.white-space {

}
/************MONIALS SECTION***********/
#monials {
  /*margin-top: 50px; */
  margin-bottom: 20px; 
  /*background-image:url("IMG_2095.JPG"); */
  background: #ADA996;
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2);
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2);
}

.item h4 {
  font-style: italic;
}

#monials h2 {
  margin-top: 20px; 
  color: #fff; 
  font-size: large;
  font-family: 'Work Sans', sans-serif;
}

.monials-row {
    height: 150px;
}
.item h4 {
/*  margin: 70px 0; */
  font-size: italic;
  font-weight: lighter;
}

.carousel-indicators {
  display: none; 
}


/*************FAQS************/

#faqs {
    font-family: 'Work Sans', sans-serif; 
}

#faqs h2 {
  margin-top: 25px; 
  font-size: 20px; 
}

 .faq_question {
            margin: 0px;
            padding: 20px; 
            /*background-color: #f5f5f5; */
            color: #333; 
            /*padding: 0px 0px 5px 0px;*/
            display: inline-block;
            cursor: pointer;
            font-weight: bold;

        }
        
        .faq_answer_container {
            display: none;
            padding: 5px; 
            background-color: #fff; 
            color: #333; 

        }

        .tay {
    /*      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
          /*  border: 1px  #ddd; */
            border-top-left-radius: 3px;
    border-top-right-radius: 3px;
 /*   padding: 10px 15px; */
}

.hr-faqq {
    margin-right: 160px; 
    margin-left: 160px; 

}



/************CONTACT SECTION***********/

#contact h2 {
  color: #fff; 
  font-family: 'Work Sans', sans-serif;
  margin-top: 30px; 
  font-size: 20px; 
}

#contact p {
  margin-top: 20px; 

}

.map_1 {
  padding-left: 0; 
  padding-right: 0; 
}

.map {
  margin-top: 20px; 
  margin-right: 0; 
  margin-left: 0; 
}



.contact-row {
  background: #ADA996;
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2);
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2);

}

.back-div {
  margin-bottom: 15px; 
}

.form-submit {
    background-color: transparent; 
    color: #000; 
    border: 1px solid #000; 
    margin-top: 0; 
    margin-bottom: 20px; 
/*   border: none; */
}

.form-control, .form-group {
  border-top: medium none; 
  border-left: medium none; 
  border-right: medium none; 
  box-shadow:none;
/*opacity: 0.6; */
background-color: transparent;
  
}

input, textarea {
outline: none;
box-shadow:none !important;

}
/*
.hr_5 {
   border: 0;
    height: 0; /* Firefox... */
/*    box-shadow: 0 0 10px 1px #ff5733;
    margin-left: 80px;
    margin-right: 80px; 
}*/

.btn {
  border: 1px solid #e0e0e0;
  border-radius: 0; 
} 

.hr_5 {
 /* display: none; 
    display: block;*/
   border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px #ff5733;
    margin-left: 150px;
    margin-right: 150px; 
    margin-bottom: 30px; 
}

.hr-con {
  display: none; 
}


/******FOOTER****/

.copy {
font-size: x-small;
color: #b8b8b8;
text-align: left;
margin-top: 20px; 
}

hr {
  margin-left: 160px; 
  margin-right: 160px; 
  border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ff5733, #ff5733, #ff5733);
}

.fab {
  color: #b8b8b8;  
  margin: 10px; 
}

/*h3 {
  color: grey; 
}*/

.p-foot {
 color: #b8b8b8; 
}

.bottom {
 /*  border-top: 1px solid #ff5733;*/
  height: 60px; 
 /* background-color: #f5f5f5; */
    background-color: #FF6347; 
   /* opacity: .8; */
  
}

.bottom p {
  color: #fff!important; 
  margin: 0; 
  /*  background-color: #f5f5f5; */
    padding: 25px; 
    padding-left: 0!important; 
}

.foot-row h3 {
  color: #b8b8b8; 
  letter-spacing: 3px;
  font-family: 'Work Sans', sans-serif; 
  /* color: #b8b8b8;*/ 
}

.foot-row a {
  color: #b8b8b8; 
}

.foot-row {
  background-color: #fff;
 /* opacity: .8;  */
   /*background-color: #f5f5f5; */
  margin-top: 20px; 
  /*background-color: #222;*/ 
}

.foot-i  {
  font-size: 20px;
  margin-right: 5px; 
  margin-top: 0;  
}

.foot-i-2 {
  margin-right: 20px; 
}

/*********SCROLL UP BOTTOM***********/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 40px;
  border: none;
  outline: none;
  color: #000; 
  /*background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;*/
}

#myBtn:hover {
  font-size: 45px; 
  cursor: pointer;
  /*background-color: #555;*/
}


.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
p {
    line-height: 1.33em;
    color: #7E7E7E;
}
h1 {
    color: #EEEEEE;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff5733;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ff5733;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #fff;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #000;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }  






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.ser-border {
  border: 1px solid  #000; 
  padding: 20px;  
}



/* 
  Ok so you have made it this far, that means you are very keen to on my code. 
  Anyway I don't really mind it. This is a great way to learn so you actually doing the right thing:)
  Follow me @ihatetomatoes
*/

.wrap {
  display: initial; 
  overflow: hidden;
width: auto 
  margin: 5px auto;
}

.tint {
  display: initial;
  position: relative;
/*  float: left;*/
  /*margin-right: 20px;
  margin-bottom: 20px;*/
  cursor: pointer;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.w_t {
  background-color: black; 
  padding: 5px; 
  opacity: .6; 
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px; 
    color: #fff; 
}