

/*LAB TOP BREAK POINT*/



@media screen and (min-width: 769px) {

}


/*************************Desk TOP Break Point **************************************/

@media screen and (min-width: 1281px)  {

	.carousel-inner img {
  width: 3000px; 
  height: 1020px!important; 
}

.about-row{
  margin-left:350px;  
  margin-right:350px;
}

.bio-img {
	margin-bottom: 30px; 
}

.hr_22 {
	margin-left: 820px; 
	margin-right: 820px; 
}


.hr_5 {
	margin-left: 880px; 
	margin-right: 880px; 
}

.contact-row {
	margin-left: 280px; 
	margin-right: 280px; 
}

hr {

	margin-left: 285px; 
	margin-right: 285px; 

}

.box {
	margin-right: 60px; 
	margin-left: 60px; 
}

.sub-p {
	margin-right: 120px; 
	margin-left: 120px; 
}

	}


	/*************************Large Desk Top Break Point **************************************/

@media screen and (min-width: 1920px) {
  
}