/* ----------- Galaxy S6 ----------- */


/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {



}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */



/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

  	.carousel-caption {
  		top: 100px; 
  	}

    .carousel-head {
      font-size: 35px; 
    }

      .bio-img {
      width: 300px; 
      height: 300px; 
      margin-right: 7px; 
    }

  /*	.about-row {
  		margin-left: 60px; 
  		margin-right: 60px; 
  	}*/

    .about-photo {
  
    float: left; }

      .art-logo {
/*    margin-bottom: 10px; */
    margin-right: 210px; 
    margin-left: 210px; 
  }

    .p-1 {
      text-align: center; 
    }

    .bio-p {
      text-align: left; 
      margin-top: 0; 
    }

  

  	.sub-p {
  		margin-left: 30px; 
  		margin-right: 30px; 
  	}

    .pub-p {
      margin-left: 60px; 
      margin-right: 60px; 
    }

    .hr-head {
      margin-right: 220px; 
      margin-left: 220px; 
    }

  	.hr_2 {
  		display: none; 
  	}

  	.indi-sec p {
  		margin-left: 30px; 
  		margin-right: 30px; 
  	}

  	.indi-bom {
  		margin-bottom: 40px; 
  	}

    hr {
      margin-right: 300px; 
      margin-left: 300px; 
    }

.hr-faqq {
  margin-right: 300px; 
  margin-left: 300px; 
}
  	.hr_5 {
  		margin-right: 290px; 
  		margin-left: 290px; 
  	}

  	.hr-con {
  		margin-right: 300px; 
  		margin-left: 300px; 
  	}

  	.navbar-toggle {
  		float: right; 
  	}

.row3 {
  margin-left: 100px; 
  margin-right: 100px; 
}

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

	.navbar-toggle {
  		float: right; 
  	}

    .about-photo {
  
    float: left; }

    .p-1 {
      text-align: center; 
      margin-bottom: 20px; 
    }

    .bio-p {
      text-align: left; 
      margin-top: 0; 
    }

    .bio-img {
      width: 300px; 
      height: 300px; 
      margin-right: 7px; 
    }


    .pub-p {
      margin-left: 60px; 
      margin-right: 60px; 
    }

  	  	.about-row {
  		margin-left: 90px; 
  		margin-right: 90px; 
  	}

  	  	.sub-p {
  		margin-left: 30px; 
  		margin-right: 30px; 
  	}

    .hr-head {
      margin-right: 300px; 
      margin-left: 300px; 
    }


  	 	.hr_2 {
  		display: none; 
  	}

    .hr-faqq {
  margin-right: 320px; 
  margin-left: 320px; 
}

.hr-con {
      margin-right: 320px; 
      margin-left: 320px; 
    }

  	.indi-sec p {
  		margin-left: 30px; 
  		margin-right: 30px; 
  	}

  	.indi-bom {
  		margin-bottom: 40px; 
  	}

  	.hr_5 {
  		margin-right: 290px; 
  		margin-left: 290px; 
  	}

  	hr {
  		margin-right: 330px; 
  		margin-left: 330px; 
  	}

      .art-logo {
/*    margin-bottom: 10px; */
    margin-right: 250px; 
    margin-left: 250px; 
  }


}

/* ----------- iPhone X ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

  	.box {
  		padding: 30px!important; 
  	}
.about-row{
  margin-left:5px!important;  
  margin-right:5px!important;
}


.carousel-inner img {
display: cover; 
}


.carousel-text {
  position: absolute;
  top: 100px; 
  right: 50%; 
  z-index: 20; 

}

.carousel-head {
  font-size: 35px!important; 
}


.carousel-p {
  font-size: 16px!important; 
}

.carousel-btn {
  padding: 5px!important;
    background-color: #ff5733; 
/*  background-color: transparent;*/
  font-weight: bolder;
  color: #fff; 
  margin-top: 0px!important; 
  margin-left: 0px!important; 
  font-size: 15px; 
  border: none; 
  opacity: .6; 
}

.carousel-inner img {
  width: 3000px; 
}

.carousel-btn1 {
  background-color: transparent;
  border: 3px solid #fff;
  opacity: 1;  
}

.indi-sec p {
	text-align: center; 
} 

.indi-sec:hover {
	border-bottom: none!important; 
	border-top: none!important; 

    transition: none!important;
   
    padding: initial!important; 
    -webkit-transform: none!important;
}

.button-form {
	margin-right: 0!important; 
	margin-left: 0!important; 
}

p {
	text-align: center!important; 
}

.p-1 {
  font-size: 13px!important; 
}

.bio-p {
	text-align: justify!important;
}

.bio-img {
	margin-bottom: 0!important; 
}

.sub-p {
	top: -80px!important; 
}

.photo-row {
  margin-left: 0!important; 
  margin-right: 0!important; 
}

#faqs h2 {
  font-size: 18px!important; 
}

}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

.carousel-caption {
	padding-bottom: 80px; 
}

.art-logo {
  margin-right: 0; 
  margin-left: 0; 
}

.carousel-head {
	font-size: 54px; 
}

.carousel-p {
	font-size: 30px; 
}

.carousel-btn {
	padding: 15px; 

}

.about-row {
  margin-right: 150px; 
  margin-left: 150px; 
}

.btn-ser1 {
  margin-top: 25px; 
}

.hr-head {
  margin-right: 170px; 
  margin-left: 170px; 
}

.hr-faqq {
  margin-right: 200px; 
  margin-left: 200px; 
}


.hr-con {
  margin-left: 330px; 
  margin-right: 330px; 
}

.hr_2 {
	margin-left: 300px; 
	margin-right: 300px; 
}

.hr_22 {
	display: none; 
}

.hr_5 {
	margin-right: 315px; 
	margin-left: 315px; 
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

.carousel-inner img {
display: cover; 
}


.carousel-text {
  position: absolute;
  bottom: 40%; 
  right: 50%; 
  z-index: 20; 

}

.carousel-head {
  font-size: 50px; 
}

.carousel-p {
  font-size: 20px; 
}

.carousel-btn {
  padding: 20px;
    background-color: #ff5733; 
/*  background-color: transparent;*/
  font-weight: bolder;
  color: #fff; 
  margin-top: 0px!important; 
  margin-left: 0px!important; 
  font-size: 15px; 
  border: none; 
  opacity: .6; 
}

.about-row {
  margin-right: 95px!important; 
  margin-left: 95px!important; 
}

.hr-head {
  margin-left: 350px!important; 
  margin-right: 350px!important; 
}

.hr-indus {
  margin-left: 380px!important; 
  margin-right: 380px!important; 
}

.hr-faqq {
  margin-right: 280px!important; 
  margin-left: 280px!important; 
}

#faqs h2 {
  font-size: 28px!important; 
}

.btn-ser {
  /*margin-top: 250px!important; */
}

.photo-row {
  margin-right: 100px!important; 
  margin-left: 100px!important; 
}

#about h2 {
	font-size: 40px!important; 
}

#contact h2 {
	font-size: 40px!important;
}

p {
	text-align: center!important; 
}

.button-form {
	margin-right: 0!important; 
	margin-left: 0!important; 
}

.copy {
	text-align: left!important; 
}

.hr_2 {
	margin-left: 390px!important; 
	margin-right: 390px!important; 
}

.hr_5 {
	margin-right: 460px!important; 
	margin-left: 460px!important; 
}

.bio-p {
	text-align: justify!important;
}

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/


@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

  	.carousel-text {
  position: absolute;
  bottom: 20%!important; 
  right: 50%; 
  z-index: 20; 

}

.carousel-head {
  font-size: 50px!important; 
}

.carousel-p {
  font-size: 20px!important; 
}

.carousel-btn {
  padding: 20px!important;
    background-color: #ff5733; 

  margin-top: 0px!important; 
  margin-left: 0px!important; 
  font-size: 15px; 
 
}

.about-row {
  margin-right: 150px!important; 
  margin-left: 150px!important; 
}

.photo-row {
  margin-left: 100px!important; 
  margin-right: 100px!important; 
}

#faqs h2 {
  font-size: 28px!important; 
}

.hr-faqq {
  margin-right: 280px!important; 
  margin-left: 280px!important; 
}

.hr-indus {
  margin-left: 370px!important; 
  margin-right: 370px!important; 
}

.bio-img {
	margin-bottom: 0!important; 
}

.foot-row p {
	text-align: center!important;
}


}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

  	.about-row {
  		margin-left: 250px!important; 
  		margin-right: 250px!important; 
  	}

  	.sub-p {
	margin-left: 40px!important; 
	margin-right: 40px!important; 
}

}

/*************SMALL LAB TOP********************/

@media screen and (max-width: 767px) {


}

/*LAB TOP BREAK POINT*/



@media screen and (min-width: 769px) {

	.hr-head {
		margin-right: 320px; 
		margin-left: 320px; 
	}


.about-photo {
	margin-bottom: 20px; 
margin-top: 45px; 
  height: 370px;
    float: left; 
 /*   width: 435px;
    height: 600px;*/ 
    padding-right: 10px; 
    /* width: 750px; 
    height: 600px; */
    
   /* width: 600px;
   height: 590px; */
} 

.about-row {
	margin-left: 250px;
	margin-right: 250px; 
}


.aboutp {
    margin-left: 0;
    margin-right: 0; 
}

.aboutp1:first-letter {
    font-size: 35px; 
    /* font-weight: bolder;  */
    font-family: cormorant; 
    margin-right:2px;
    color: #0abab5; 
    line-height: 0;  
   
}

#section1 p {
    /* font-size: 14px;  */
    float: none; 
    text-align: left;   
}

p {
    text-align:justify ;  
 }  

 .biosectionpic {
     
    margin-left: 0; 
    margin-right: 0; 
}




.logo-holder .text {
  position:absolute; left: 50; 
}






	.jumbotron {
/*     background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
       /* background-image: url("IMG_2095.JPG");*/
            

/*     background-image: url("http://i68.tinypic.com/1255nwk.jpg"); */
    /* -webkit-filter: grayscale(65%); *//* Safari 6.0 - 9.0 */
  /*  filter: grayscale(65%);*/
/*       background-color: #f4511e; */
    height:1000px; 
    background-repeat: no-repeat; 
   background-size: cover; 

      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }

  .navbar-nav li a:hover  {
    color: #ff5733; 
  }



  .navbar {
      margin-bottom: 0;
      background-color: #000;
      opacity: .7; 
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;

/*      background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
     /*background-image: url("IMG_5238.JPG")*/;
  
/*   background-image: url("http://i68.tinypic.com/1255nwk.jpg"); */
    background-repeat:no-repeat; 
    background-size:cover; 
}








/*.navbar.solid {
  background-color: #fff; 
  opacity: .4; 
}*/


h2 {
  letter-spacing: 10px; 
}


/************CAROUSEL****************/

.carousel-text {
  position: absolute;
  bottom: 30%; 
  right: 40%; 
  z-index: 20; 

}

.carousel-head {
  font-size: 60px; 
}

.carousel-p {
  font-size: 20px; 
}

.carousel-btn {
  padding: 20px;
    background-color: #ff5733; 
/*  background-color: transparent;*/
  font-weight: bolder;
  color: #fff; 
  margin-top: 20px; 
  margin-left: 30px; 
  font-size: 15px; 
  border: none; 
  opacity: .6; 
}

.carousel-inner img {
  width: 3000px; 
}

.carousel-btn1 {
  background-color: transparent;
  border: 3px solid #fff;
  opacity: 1;  
}

/************ABOUT SECTION***********/

 
#about h2 {
	font-size: 50px; 
  margin-top: 55px; 
}

/*.about-row{
  margin-left:60px;  
  margin-right:60px;
}*/

.p-1 {
	text-align: center!important;
	font-size: 20px; 
  margin-bottom: initial;
}

.mar-about {
   margin-right: initial; 
  margin-left: initial; 
}

.pub-row {
	margin-left: 80px; 
	margin-right: 80px; 
}

.bio-img {
	width: 300px;
  margin-top: 0!important; 
  height: 300px; 
}

.bio-p {
  margin-top: 45px; 
  font-size: 15px; 
  text-align: justify;
}

.hr_2 {
	display: block;
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px #ff5733;
    margin-left: 280px;
    margin-right: 280px; 
    margin-bottom: initial;
}
.hr_2:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

.article-pics img {
  width: auto; 
  height: 50px; 
}


.logo11 {
  margin-bottom: 30px; 
  margin-top: 0; 
}

 .art-logo {
    margin-bottom: initial; 
    margin-right: initial; 
    margin-left: initial; 
  }


/************SERVICES SECTION***********/


#services {
  /*height: 800px; 
*/ /* background-image: url("IMG_2095.JPG"); */
/*background: linear-gradient( rgba(105, 105, 105, 0.8), rgba(105, 105, 105, 0.8) ), url("IMG_2095.JPG");*/
/*background: linear-gradient( rgba(0, 128, 128, 0.4), rgba(0, 128, 128, 0.4) ), url("IMG_2095.JPG");*/
/*  -webkit-filter: grayscale(65%);  Safari 6.0 - 9.0 
    filter: grayscale(65%);*/
}

.ser-head-1 {
	padding: initial; 
 /* margin-top: 0!important;*/
  font-size: 50px; 
   
}


.hr-ser {
  margin-left: 590px;
  margin-right: 590px; 
}

.services-row-1 {
 background-color: initial; 
}

.glyphicon-off{
  margin-top: initial; 
}

#services h2 {
  margin-top: 55px; 
}

.ser-head {
 /* margin-bottom: 40px; */
}

.services-row {
  margin-left:60px;  
  margin-right:60px;
}

.imgServices {
  margin-bottom: initial; 
}


/*.services-row-2 {
  margin-left:230px;  
  margin-right:230px;
}*/

.service_icons {
/*       color: #33FFFF; */
  color:#000;
    /*  color:#ff5733;*/
      font-size: 50px;
  }

  .box {
    padding:60px; 
  background-color: #fff;
  margin-bottom: 70px; 
/*   border: 1px solid #fff; */
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
   /* background-color: #000; */ 
   /* border: 1px solid #000; */
  /*  padding: 80px;*/ 
   /* margin-bottom: 70px; 
    position: relative;*/
     
    /*opacity: .3; */
.glyphicon {
  margin-top: initial; 
}

.glyphicon-off{
  margin-top: initial; 
}
  

.box h4 {
  font-size: 15px;
  height: 50px;  
}

.sub-service {
    
}
.sub-p {
  display: none;
  position: absolute;
  left: 0; top: 0; 
  color: #000;
  font-weight: lighter!important;
font-size: 20px; 
margin-top: 0!important; 
/*height:250px*/;
line-height: 55px; 
/* overflow: scroll;*/
  /*padding: 10px; */ 
}

.w_t {
  background-color: initial; 
  padding: initial; 
  opacity: initial; 
}


.btn-ser {
	margin-top: 50px;
  background-color: transparent;
  border: 1px solid #ff5733!important;
  border-radius: 3px!important;   
/*	background-color: #ff5733;*/
	opacity: .8; 
	color: #fff; 
	/*border-radius: 10px!important; */

}

.btn-ser-row {
	display: none; 
}

.box:hover .btn-ser-row {
	display: initial!important;
	margin-left: 190px; 
	margin-right: 190px;
}

.btn-ser:hover {

	background-color: #ff5733;
	opacity: .8;
	/*letter-spacing: 3px;  */
	color: #fff; 
}

.box:hover {

  opacity: 1; 
  background-color: transparent;

}

.box:hover .glyphicon {
  display: none; 
}

.box:hover .sub-p{

  display: block;
  color: #000;
  font-weight: bolder; 
  margin-top: 40px; 


  /* border: 1px solid #000; 
    padding: 80px; 
    margin-bottom: 20px; */
}

.box:hover .sub_p_2 {
  /*margin-left: 60px; 
  margin-right: 60px; */
}

.box:hover .sub-service{display: none;}

/************SERVICES SECTION 2***********/

.new-service {
	height: 400px; 
	 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.service2 p {
	margin-top: 40px; 
}

.p-head {
	font-size: 20px; 
  text-align: center; 
}

.service-pho {
  height: 100%;
  width: 100%; 
}

.back  {
  margin-top: 20px; 
}

.ser-div {
  margin-top: 90px; 
}

.ser-div h3 {
  font-size: 30px; 
  letter-spacing: 10px; 
  margin-bottom: 20px; 
}

.ser-div h4 {
  font-weight: lighter;
}

.row-equal{
  display: flex!important; /* equal height of the children */
}

.ser-equal {

  flex: 1!important; /* additionally, equal width */
}

.ser-equal-1 {
  background: linear-gradient( rgba(105, 105, 105, 0.8), rgba(105, 105, 105, 0.8) ), url("adult-analysis-brainstorming-1081225.jpg"); 
  background-size: cover;
  background-repeat: no-repeat; 
  height: initial;
  margin-bottom: initial;
}

.ser-equal-2 {

  background: linear-gradient( rgba(105, 105, 105, 0.8), rgba(105, 105, 105, 0.8) ), url("bio.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
   height: initial; 
 margin-bottom: initial; 
 
}

.w-t {
  margin-top: initial; 
}

.ser-contain  {
  padding-left: 0; 


}

.ser-contain-1 {
  padding-left: 0; 
}

.how-to-box {
  display: block;
    overflow: hidden;
    margin: 0 0 26px;
} 

.how-to-box .icon {
    float: left;
    width: 50px;
}

*, *:before, *:after {
    
    box-sizing: border-box;
  }

  .how-to-box .content .name {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25px;
    margin: 0 0 3px;
}

.how-to-box .content .text {
    color: #000;
    line-height: 24px;
    font-weight: lighter;
    font-size: larger;
}

  .how-to-box .icon span {
    background: #fff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ff5733;
    display: block;
    font-size: 35px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 50px;
}

.how-to-box .content {
    overflow: hidden;
    padding-left: 24px;
}


.sec-2-h4 {
  margin-bottom: 50px; 
}

.p-head-sub {
  text-align: center; 
}
.centered-ser {
	font-size: 45px!important; 
}

#contact_1 {
  margin-top: 20px; 
}

#contact_1 h2 {
  color: #fff; 
}

#contact_1 p {
  /*color: #fff; */
}

/**********COACHING************/

.ser-div h3 {
  margin-top: initial; 
}

/**********CONSULTATION************/
.consul-row{
  background-color: #000;  
  margin-top: 40px; 
  height: 200px; 
}
/************INDUSTRY SECTION***********/


.hr-indus {
	display: block;
	margin-left: 520px; 
	margin-right: 520px; 
}

#industry h2 {
  margin-top: 65px;
  color: #000;  
}

.industry-row {
  margin-left:60px;  
  margin-right:60px;
}

i {
  margin-top: 40px; 
  font-size: 50px;
  margin-bottom: 20px; 
  color: #ff5733;   
}

.indi-sec1 {
	color: #000!important; 
	/*background-color: #000!important;*/
	background-image: none; 
}

.indi-sec1 h2 {
  font-size: 50px;
}


.indi-sec:hover {
 /* border-top: 1px solid #000;
  border-bottom: 1px solid #000; 
 

    transition: .8s ease;
   
    padding: 10px; 
    -webkit-transform: scale(1.01);*/

}

.indi-photo {

	height: 300px; 
}

.tint {
	display: initial;
  position: relative;
  float: left;
  /*margin-right: 20px;
  margin-bottom: 20px;*/
  cursor: pointer;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}



.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px; 
    color: #fff; 
}

.centered_indi {
  font-size: 40px!important; 
}


/*.t6:before { background: rgba(255,102,0, 0.6)!important; }*/
.t6:before { background: rgba(105,105,105, 0.8)!important; }


.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: all .3s linear;
}

.tint:before:hover { 
   display: none!important;
/*content: "dfdsfdsfdfdff"!important;*/
/*  background: none!important; 
*/
}


.p-text {
  font-size: 16px!important; 
  color: #fff; 
}



.tint-div {
	padding: 0; 
}

.photo-row {
	margin-right: 200px; 
	margin-left: 200px; 
}

.fas {
	display: none; 
}

.icon-t {
	display: none; 
}

.wrap {
  display: initial; 
  overflow: hidden;
width: auto 
  margin: 5px auto;
}


/************MONIALS SECTION***********/
#monials {
 background: #ADA996;
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2);
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2);


  margin-top: 50px; 
  /*margin-bottom: 50px; */
  /*background-image:url("IMG_2095.JPG"); */
  /* background: linear-gradient( rgba(105, 105, 105, 0.8), rgba(105, 105, 105, 0.8) ), url("IMG_5238.JPG"); */
 /* background: linear-gradient( rgba(0, 128, 128, 0.4), rgba(0, 128, 128, 0.4) ), url("IMG_5238.JPG"); */
}

#monials h2 {
  margin-top: 60px; 
  font-size: 30px;
}

.monials-row {
	height: auto; 
 /*  margin-left:60px;  
  margin-right:60px; */
}

.item h4 {
  margin: 70px 0; 
  font-size: italic;
  font-weight: lighter;
}

#testi {
/*margin-bottom: 50px; */
  /*background-image:url("IMG_2095.JPG"); */
/*  background: linear-gradient( rgba(0, 128, 128, 0.4), rgba(0, 128, 128, 0.4) ), url("IMG_2095.JPG"); */
}

.carousel-indicators {
  display: initial; 
}

/************FAQS SECTION***********/

#faqs {
  height: 300px; 
}

#faqs h2 {
  margin-top: 50px; 
  font-size: 40px; 
}

.faqs-row {
   margin-left:60px;  
  margin-right:60px; 
}

.hr-faqq {
	margin-left: 380px; 
	margin-right: 380px; 
}

.faqsP {
  margin-bottom: 20px;
  font-size: 16px;  
}

.quest-row {
  margin-left: 130px; 
  margin-right: 130px; 
}

.faqsp {
  color: gray; 
}
/*.faq_question {
  margin-top: 10px; 
 margin: 0px;
  padding: 0px 0px 5px 0px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;

}*/
/*.faq_answer_container {
  height: 0px;
  overflow: hidden;
  padding: 0px;

}*/

.hr_3 {
   border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px #ff5733;
    margin-left: 380px;
    margin-right: 380px; 
}

.hr1 {
 border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    box-shadow: none; 
    margin-left: 0; 
    margin-right: 0;

  /*   border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
*/
}

/************CONTACT SECTION***********/

.hr-con {
  display: none; 
	/*margin-left: 590px; 
	margin-right: 590px*/
}

#contact {
 /* background: linear-gradient( rgba(0, 128, 128, 0.6), rgba(0, 128, 128, 0.6) ), url("IMG_2095.JPG"); */
 margin-top: 230px; 
 /* margin:0!important; */
  display: contain;

}

.contact-row {
  /*background-color: #a8a8a8; */
 /* background: linear-gradient( rgba(105, 105, 105, 0.8), rgba(105, 105, 105, 0.8) ), url("drew-beamer-692664-unsplash.jpg");
  background-size: fill;*/
  background: #ADA996;
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2);
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2);

  /*opacity: .6; */
}

#contact p {
  
  /*margin-top: 20px; */
  font-size: 16px; 
}

#contact h2 {
  font-weight: lighter!important;
	font-size: 50px;
  color: #fff; 
 
}

.contact-row {
 /* background-color: #f5f5f5; */
}


.form-submit {
    background-color: transparent; 
    color: #000; 
    border: 1px solid #000; 
    margin-top: 50px; 
/*   border: none; */
}

.form-control, .form-group {
  border-top: medium none; 
  border-left: medium none; 
  border-right: medium none; 
  box-shadow:none;
/*opacity: 0.6; */
background-color: transparent;
  
}

input, textarea {

outline: none;
box-shadow:none !important;

}

.hr_5 {
	display: block;
   border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px #ff5733;
    margin-left: 590px;
    margin-right: 590px; 

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000!important;
    font-weight: lighter;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}
/*.box1 {
  display: none; 
}
*/

.box2 {
height: 244px; 
width: 347px; 
margin-left: 185px;  
}

.box3 {
height: 244px; 
width: 347px;
}

.button-form{
  margin-left: 190px; 
  margin-right: 190px; 

  /*background-color: #e5e5e5; */

}

.submit-but {
  letter-spacing: 5px; 
  /* color: #ff5733;*/

}

.btn {
  border: 1px solid #e0e0e0;
  border-radius: 0; 

} 


/************FOOTER SECTION***********/
/*
.foot2 {
  color: #000!important;
  font-size: 20px; 
  margin: 10px;  

}*/

.arrow {
  margin-left: 10px; 
/*  margin-left: 10px;*/ 
   border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
   transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/*.arrow-row p {
 text-align: justify;
}*/

#new-foot {
  height: 800px!important;
}

/*.foot-row {
  background-color: #f5f5f5; 
}*/

hr {
  margin-left: 185px; 
  margin-right: 185px; 
  border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ff5733, #ff5733, #ff5733);
}

.fab {
 /* color: #b8b8b8;  */
  margin: 10px; 
}

/*h3 {
  color: grey; 
}*/

/*.p-foot {
 color: #b8b8b8; 
}*/

.copy {
	font-size: smaller;
  text-align: left;
  margin-top: 30px;
  margin-left: 6px;   
}

.bottom {
   /* background-color: #f5f5f5; */
    padding: initial;
}

.bottom p {
  color: #fff; 
  margin: 20px;
    /*background-color: #f5f5f5; */
    padding: initial; 
}

.foot-row h3 {
  letter-spacing: 3px; 
  /* color: #b8b8b8;*/ 
}

/*.foot-row a {
  color: #b8b8b8; 
}*/

/*********SCROLL UP BOTTOM***********/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 40px;
  border: none;
  outline: none;
  /*background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;*/
}

#myBtn:hover {
  font-size: 45px; 
  cursor: pointer;
  /*background-color: #555;*/
}

/*.ws {
  margin-left: 10px; 
}*/

/*.middle {
      transition: .5s ease; 
      opacity: 0;
      position: absolute; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      -ms-transform: translate(-50%, -50%); 
      text-align: center; 
  }*/


/************SLIDE AMINATION*****************/

/*.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
*/

/*i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;

}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: up-down 0.5s ease-in-out infinite alternate; */










}


/*************************Desk TOP Break Point **************************************/

@media screen and (min-width: 1281px)  {

	.carousel-inner img {
  width: 3000px; 
  height: 1020px!important; 
}

.carousel-head {
  font-size: 80px; 
}

.carousel-p {
  font-size: 30px; 
}

.about-row{
  margin-left:160px;  
  margin-right:160px;
}

.bio-img {
	margin-bottom: 30px; 
}

.hr_22 {
	margin-left: 820px; 
	margin-right: 820px; 
}


.hr_5 {
	margin-left: 880px; 
	margin-right: 880px; 
}

.contact-row {
	margin-left: 280px; 
	margin-right: 280px; 
}

hr {

	margin-left: 285px; 
	margin-right: 285px; 

}

.box {
	margin-right: 60px; 
	margin-left: 60px; 
}

.sub-p {  
	margin-right: 100px; 
	margin-left: 100px; 
}

#services {
	background-size: cover; 
}

.about-row {
	margin-left: 320px; 
	margin-right: 320px; 
}

/********ABOUT*****************/

.hr-head {
	margin-right: 390px; 
	margin-left: 390px; 
}

.about-row-desktop{
  margin-left:500px;  
  margin-right:500px;
}

/*********PUBLICATIONS**************/

.pub-row {
	margin-left: 300px; 
	margin-right: 300px; 
}

/********SERVICES*****************/

.hr-ser {
  margin-right: 900px; 
  margin-left: 900px; 
}

/********SERVICES 2*****************/

#contact_1 {
  padding-left: 0; 
  padding-right: 0; 
}

.new-service {
  height: 600px; 
}

.centered-ser {
  font-size: 65px!important
}

.sec-2-h4 {
  font-size: 20px; 

}

.p-head {
  font-size: 25px; 
}

.p-head-sub {
  font-size: 17px; 
}

/*********CONTACT**************/

#contact {
  padding-left: 0; 
  padding-right: 0; 
}


.contact-row {
	margin-right: 0; 
	margin-left: 0; 
}

.hr-con {
	margin-right: 890px; 
	margin-left: 890px; 
}

/********INDUSTRY*****************/

.photo-row {
  margin-right: 400px; 
  margin-left: 400px;  
}

.hr-indus {
  margin-left: 820px; 
  margin-right: 820px; 
}


/********INDUSTRY*****************/

.hr-faqq {
  margin-right: 570px; 
  margin-left: 570px; 
}

	}


	/*************************Large Desk Top Break Point **************************************/

@media screen and (min-width: 1920px) {
  
}